<header class="sticky-top">
    <nav class="navbar navbar-dark navbar-expand-md bg-dark m-0 p-0">
        <div class="container-fluid mx-0 px-0 menunavigation ">
            <div class="navbar-brand m-3 ">Menu</div>
            <div id="buttonMenu">
                <button class="d-block navbar-toggler m-3 " data-toggle="collapse" data-target="#navbarText">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="menu">
                    <li class="menu-item">
                        <div class="block-item">
                            <a class="item nav-link" href="/">Accueil</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="block-item">
                            <a class="item nav-link" href="/competences">Compétences</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="block-item">
                            <a class="item nav-link" href="/formations">Formations</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="block-item">
                            <a class="item nav-link" href="/a_propos">A propos</a>
                        </div>
                    </li>
                    <li class="menu-item">
                        <div class="block-item">
                            <a class="item nav-link" href="/blogs">Blogs</a>
                        </div>
                    </li>

                    {% if session == false %}
                        <li class="menu-item">
                            <div class="block-item">
                                <a class="item nav-link" href="/se-connecter">Connexion</a>
                            </div>                            
                        </li>
                    {% elseif session == true %}
                        <li class="menu-item">
                            <div class="block-item">
                                <a class="item nav-link" href="/deconnecter">déconnexion</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>