@import "./template.css";
@import "./header.css";
@import "./footer.css";
@import "./accueil.css"; 
@import "./about.css";
@import "./training.css";
@import "./skills.css";
@import "./blog.css";
@import "./credits.css";
@import "./blogs-list.css";
@import "./connexion.css";
@import "./dashboard.css";

.divider{
    width:10%;
    height:5px;
    background-color: #02ADF0;
    margin: 5px auto;
}
