#training
{
    background-color: #E3F4FE;
}

.container-training h2 {
    color: #02ADF0;
    text-align: center;
    padding: 15px 0px 5px 0px;
}

.container-training h3 {
    color: #02ADF0;
    text-align: center;
}

.container-training h4 {
    text-align: center;
}

.container-training h5 {
    text-align: center;
}
.fas.fa-user-graduate.fa-3x {
    display:block;
    margin: 0px auto;
    padding-left: 30px;
    width:100px;
}

.card-education {
    width: 80%;
    margin: 15px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
}

/*menu écran inférieur à 768px */

@media screen and (max-width: 767px)
{
    .card-education {
        width: 100%;
    }
}