{% extends "template.html.twig" %}

{% block title %}A propos{% endblock %}

{% block body %} 
<div class="container-fluid" id="about">
    <div class="container container-about">
        <h2> A propos</h2>
        <div class="divider"></div>
            <h3>Qui suis-je ?</h3>
            <p>Je me présente Laurent LESAGE, j'habite à PERPIGNAN.</p>
    
            <h3>Ma personnalité</h3>
            <p>Je suis une personne organisée, logique et curieuse. Je suis autonome sur les missions qui me sont confiées.
                J'aime également travailler en équipe et échanger sur un projet.</p>
            <h3>Mes loisirs</h3>
            <p> J'affectionne les jeux de sociétés particulièrement ceux de stratégie, gestion et coopératif.</p>
            <p>Je pratique la randonnée, la marche nordique et parfois du city foot avec des amis.<br>
                Enfin je suis portraitiste animalier et humain, mon domaine de prédilection est le pastel sec.</p>
            <h3>Mon passé professionnel</h3>
            <p>Après une quinzaine d'années passées dans le secteur du bâtiment (Architecture, Urbanisme, Bureaux d'étude fluides) en tant que dessinateur projeteur et BIM modeleur,
                j'avais besoin de changement et de nouveaux challenges.
                Depuis très longtemps je voulais apprendre à coder, j'ai donc décidé de sauter le pas et faire une reconversion professionnelle en faisant une formation de développeur web.
            </p> 
            <h3>Mon objectif professionnel</h3>
            <p>En alternance en tant que développeur d'application php/symphony, je recherche une entreprise pour terminée ma dernière année de formation.</p>
    </div>
</div>
{% endblock %} 