{% extends "template.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %} 
<div class="container-fluid" id="blog">
    <div class="container container-next-blog">
        <h2> Bientôt le Blog !</h2>
        <div class="divider"></div>
        <i class="fas fa-cogs fa-9x"></i><br/>
        <p>Vous y trouverez très prochainement dans cette rubrique des articles traitant des différents projets réalisés.</p>
        <p>Vous allez pouvoir également vous connecter et y laisser des petits commentaires ;-) </p>
    </div>
</div>
{% endblock %} 
