{% extends "template.html.twig" %}

{% block title %}Blog{% endblock %}

{% block body %} 
<div class="container-fluid" id="blog">
    <h2> Bientôt le Blog !</h2>
    <p>Vous y trouverez les articles traitant des différents projet réalisés</p>
</div>
{% endblock %} 
