{% extends "template.html.twig" %}

{% block title %}Licences logos{% endblock %}

{% block body %} 
<div class="container-fluid">
    <div class="container-credits">
        <h2> Attribution licences logos :</h2>
        <div class="divider"></div>
        <h3>Logos front-end :</h3><br/>
        <p>W3C / CC BY (https://creativecommons.org/licenses/by/3.0)</p>
        <p>Rudloff / CC BY (https://creativecommons.org/licenses/by/3.0)</p>
        <p>Google, Public domain, via Wikimedia Commons</p>

        <h3>Logos back-end :</h3><br/>
        <p>Colin Viebrock / CC BY-SA (https://creativecommons.org/licenses/by-sa/4.0)</p>
        <p>The phpMyAdmin Project / CC BY-SA (https://creativecommons.org/licenses/by-sa/3.0)</p>
        <p>Official screenshot as published on MySQL.com [GPL (http://www.gnu.org/licenses/gpl.html) or GPL (http://www.gnu.org/licenses/gpl.html)]</p>
    </div>
</div>
{% endblock %} 