{% extends "template.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block body %} 
<div class="container-fluid" id="home">
    <div class="row section1-accueil">
        <div class="col-sm-12 col-md-6 col-lg-6 profile-picture">
            <img src="/images/laurent.jpg" alt="photo laurent" class="rounded-circle w-50">
        </div>
        <div class="heading col-sm-12 col-md-6 col-lg-6">
            <h1>Laurent LESAGE</h1></br>
            <h3>Développeur web junior fullstack<br /><br/> JavaScript et PHP/Symfony</h3>
            <p>"Actuellement j'effectue une formation en alternance <br/> 
            de développeur d'application PHP/symfony avec Openclassrooms <br/>
            Je suis à la recherche d'une entreprise qui me permettra <br/>
             de terminer ma dernière année de formation."</p>
        </div>
    </div>  
    <div class="row section2-accueil">
        <div class="container-activite col-sm-12 col-md-6 col-lg-6 col-xl-6 px-0 py-0 mx-0 my-0">
            <h3>Mes activités complémentaires en entreprise :</h3>  
            <div class="activites">
                <ul class="activite-entreprise"> 
                    <li>Site web vitrine et e-commerce: CMS wordpress thème AVADA</li>
                    <li>Application front-end: Angular 11.</li> 
                    <li>Application Back-end: nestjs</li> 
                </ul>
            </div>
        </div>
        <div class="container-button-cv col-sm-12 col-md-6 col-lg-6 col-xl-6 px-0 py-0 mx-0 my-0">
            <a href="/docs/CV-Laurent-Lesage.pdf" class='button-download' target='blank'>Télécharger CV</a>
        </div>
    </div>
</div>
{% endblock %} 