{% extends "template.html.twig" %}

{% block title %}Formation{% endblock %}

{% block body %} 
<div class="container-fluid" id="training">
<h2> formations</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="education-block">
                    <h5>2020- à aujourd'hui</h5>
                    <span><img src="images/icon-education.png" alt="icon-education"></span>
                    <h3>Openclassrooms</h3>
                    <h4>Alternance<br /> Certification professionnelle de développeur d'application - PHP/symfony</h4>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="education-block">
                    <h5>2019-2020</h5>
                    <span><img src="images/icon-education.png" alt="icon-education"></span>
                    <h3>Centre de Formation ADRAR</h3>
                    <h4>Titre professionnel développeur web et web mobile</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="education-block">
                    <h5>1997-1999</h5>
                    <span><img src="images/icon-education.png" alt="icon-education"></span>
                    <h3>Lycée Dhuoda-Nîmes</h3>
                    <h4>Brevet de Technicien Supérieur en Bâtiment</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="education-block">
                    <h5>1995-1997</h5>
                    <span><img src="images/icon-education.png" alt="icon-education"></span>
                    <h3>Lycée Ste louise de Marillac</h3>
                    <h4> Bac STI option Génie Civil</h4>
                </div>
            </div>
        </div>

</div>
{% endblock %} 